altgraph==0.17
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
coverage==5.3
dhis2.py==2.1.2
idna==2.10
iniconfig==1.1.1
logzero==1.6.2
packaging==20.4
pluggy==0.13.1
py==1.9.0
Pygments==2.7.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pyparsing==2.4.7
pytest==6.1.2
pytest-cov==2.10.1
pytest-runner==5.2
requests==2.24.0
responses==0.12.0
six==1.15.0
toml==0.10.2
urllib3==1.25.11
